.statusNew {
  display: none;
}

.textarea {
  padding: 10px;
}


form textarea{
  height: 105px;
  resize: none;
}

.newOrder .labels {
  margin: 1px;
  margin: 5px;
  margin-left: 90px;
  width: 400px;
}


.form-profile label {
  margin: 10px;
  padding-left: 30px;
  font-weight: 500;
}


.form-profile .center select, option{
  border: 0;
  border-radius: 5px;
  background-color: #ffffff;
  color: #616161;
  font-size: 1em;
  padding: 10px;
  width: 310px;
}





