@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

.container{
    display: flex;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: .8em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
.center {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }


html, body, #root {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2e2e2;
}

label {
    font-family: 'Ubuntu', sans-serif
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}